@mixin Centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

$primary-color: rgb(12, 53, 106);
$secondary-color: rgb(184, 19, 74);
$tertiary-color: rgb(64, 248, 255);
$quaternary-color: rgb(213, 255, 208);
$font-stack: Cursive, Geneva, Tahoma, sans-serif;

$smartphone-portrait: 575.98px;
$smartphone-landscape: 767.98px;
$tablet: 1199.97px;

@mixin responsive($breakpoint) {
  @if $breakpoint == smartphone-portrait {
    @media only screen and (max-width: $smartphone-portrait) {
      @content;
    }
  }
  @if $breakpoint == smartphone-landscape {
    @media only screen and (max-width: $smartphone-landscape) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media only screen and (min-width: $smartphone-landscape) and (max-width: $tablet) {
      @content;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: $font-stack;
  background: linear-gradient(to top, $tertiary-color, $quaternary-color);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  @include Centered;

  a {
    color: rgb(5, 248, 236);
    text-decoration: none;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
    background: linear-gradient(to top, $tertiary-color, $quaternary-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

#root {
  flex-direction: column;
  @include Centered;

  main {
    min-width: 300px;
    height: auto;
    background: $primary-color;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: rgb(3, 10, 19) 0px 20px 30px -10px;
    @include Centered;
    flex-direction: column;
    font-weight: 600;
    font-size: 16px;

    .timer-wrapper {
      width: 200px;
      height: 200px;
      background: linear-gradient(to top, $tertiary-color, $quaternary-color);
      border-radius: 100%;
      margin-top: 20px;
      font-size: 30px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;

      p {
        font-size: 22px;
        -webkit-background-clip: unset;
        background-clip: unset;
        color: $primary-color;
        background: unset;
      }

      .timer-p {
        position: relative;
        bottom: -10px;
        font-size: 55px;
      }

      .main-buttons-wrapper {
        display: flex;
        position: relative;
        bottom: -20px;

        .btn-btn {
          width: 65px;
          height: 65px;
          font-size: 25px;
          margin: 0 15px;
          padding: 4px 10px;
          text-align: center;
          transition: 0.5s;
          background-size: 200% auto;
          color: $primary-color;
          border-radius: 250px;
          display: block;
          border: 0;
          font-weight: 700;
          box-shadow: 0px 0px 2px 0px $quaternary-color;
          background-image: linear-gradient(45deg, $tertiary-color 0%, $quaternary-color 51%, $tertiary-color 100%);
          cursor: pointer;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
        }

        .btn-btn:hover {
          background-position: right center;
          color: $secondary-color;
          text-decoration: none;
        }

        .btn-btn:active {
          transform: scale(1.25);
        }
      }
    }

    .length-buttons-wrapper {
      margin-top: 40px;
      font-size: 20px;

      @include Centered;

      .length-break,
      .length-session {
        margin: 0 15px;
        flex-direction: column;
        @include Centered;
      }
    }
  }

  @include responsive(smartphone-portrait) {
    @include Centered;
  }

  @include responsive(smartphone-landscape) {
    @include Centered;
  }

  @include responsive(tablet) {
    @include Centered;
  }
}